html,body{
    background: #f2f2f2;
}
.info{
    width: 100%;
    height:92%;
    background: #f2f2f2;
}
.info .info_icon img{
    width:38%;
    height: 28%;
    position: absolute;
    left: 30%;
    top: 30%;
}
.info .info_text{
    font-size:14px;
    position: relative;
    top: 60%;
    left: 33%;
}
.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: #f2f2f2;
}
.bottom .col-sm-12{
    padding: 0;
}
.bottom a{
    width: 18%;
    text-align:center;
}
.bottom a span{
    font-size: 15px;
}
.bottom .glyphicon{
    margin-top: 10%;
    font-size: 12px;
}
.bottom .glyphicon .detail{
    font-size: 12px;
    margin-top: 8px;
}
