<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>wx</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WeixinBasicServlet</display-name>
    <servlet-name>WeixinBasicServlet</servlet-name>
    <servlet-class>cn.evafjs.weixin.web.servlet.WeixinBasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeixinBasicServlet</servlet-name>
    <url-pattern>/wget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessTokenServlet</display-name>
    <servlet-name>AccessTokenServlet</servlet-name>
    <servlet-class>cn.evafjs.weixin.web.servlet.AccessTokenServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>cn.evafjs.weixin.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>WeixinAuthFilter</display-name>
    <filter-name>WeixinAuthFilter</filter-name>
    <filter-class>cn.evafjs.weixin.web.filter.WeixinAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WeixinAuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServlet</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>cn.evafjs.address.web.servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/addressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>cn.evafjs.category.web.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/categoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsServlet</display-name>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>cn.evafjs.goods.web.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/goodsServlet</url-pattern>
  </servlet-mapping>
</web-app>