body,html{
    margin:0;
    padding:0;
    overflow: hidden;
    content: "";
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    height:92%; 
}
.wrapper a{
    color: #000;
    text-decoration: none;
}
.wrapper .topInfo{
    width: 100%;
    height: 40%;
    background: #fff;
}
.wrapper .topInfo .user_pic img{
    width: 18%;
    height:35%;
    border-radius: 50%; 
    position:absolute;
    top: 35%;
    left: 40%; 
}
.wrapper .topInfo .info_text{
    position: absolute;
    top: 71%;
    left: 44%;
}
.wrapper .rest{
    width: 100%;
    height: 3%;
    background: #f2f2f2;
}
.wrapper  .per,.other{
    width: 100%;
    height: 18%;
    background: #fff;
}
.wrapper  .account,.address{
    border-bottom:1px solid #f2f2f2; 
}
.wrapper .per .account .per_left,.per_right{
    display: inline-block;
}
.wrapper .per .ticket .ticket_left,.ticket_right{
    display: inline-block;
}
.wrapper .per img{
    width: 20%;
    height: 90%;
    margin: 5px 8px;
}
.wrapper .other img{
    width: 19%;
    height: 87%;
    margin: 5px 8px;
}
.wrapper .per .account .per_right{
    position: absolute;
   right: 3%;
   top: 42%;
}
.wrapper .per .ticket .ticket_right{
    position: absolute;
    right: 3%;
    top: 50%;
}
.wrapper .other .address .address_right{
    position: absolute;
    right: 3%;
    top: 61%;
}
.wrapper .other .contact .contact_right{
    position: absolute;
    right: 3%;
    top: 70%;
}
.wrapper .other .address .address_left,.address_right{
    display: inline-block;
}
.wrapper .other .contact .contact_left,.contact_right{
    display: inline-block;
}
.wrapper .blank{
    width: 100%;
    height: 18%;
    background: #f2f2f2;
}

.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: #f2f2f2;
}
.bottom .col-sm-12{
    padding: 0;
}
.bottom a{
    width: 18%;
    text-align:center;
}
.bottom a span{
    font-size: 15px;
}
.bottom .glyphicon{
    margin-top: 10%;
    font-size: 12px;
}
.bottom .glyphicon .detail{
    font-size: 12px;
    margin-top: 8px;
}
